/* SmartPhone Portrait */
@media (min-width: 360px) {
  body {
    background-color: #ff0;
  }
}
/* SmartPhone Landscape */
@media (min-width: 576px) {
  body {
    background-color: #bb2323;
  }
}
/* Tablet Portrait */
@media (min-width: 768px) {
  body {
    background-color: #09f3ad;
  }
}
/* Tablet Lnadscape */
@media (min-width: 992px) {
  body {
    background-color: #ff6600;
  }
}
/* PC */
@media (min-width: 1200px) {
  body {
    background-color: #0000ff;
  }
}
